
format_version: 0.1

main_params:
    mode: check
routes:
    - from: vm-1
      to: vm-2
      port: 9200
      mode: check
    - from: vm-1
      to: vm-2
      port: 9900
      mode: check
    - from: vm-2
      to: vm-1
      port: 22
      mode: check
